.dragcontainer {
	height: 100px;
	width: 200px;

	&-drag {
		opacity: 0.1;
	}

	&-handle {
		height: 20px;
		width: 20px;
		background-color: yellow;
		position: absolute;
		margin-top: 40px;
	}
}

.dropcontainer {
	height: 400px;
	width: 400px;

	&-active {
		color: grey;
	}
}