.block-dragcontainer {
	/*color: rgb(255, 255, 255);
	border: 1px solid;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 3px;*/

	&-drag {
		opacity: 0.1;
	}

	&-handle {
		height: 20px;
		width: 20px;
		background-color: yellow;
		border-radius: 50%;
		position: absolute;

		&-dragging {
			opacity: 0;
		}
	}
}

.mtb-dragcontainer {

	&-drag {
		opacity: 0;
	}

	&-handle {
		top: 10px;
		left: 163px;
		position: absolute;
		z-index: 999;
		width: 36px;
		height: 36px;
		border: solid 0px;
		border-radius: 50%;
		background-color: #00375fc8;
		transition: all 250ms;
		display: block;
		opacity: 1;

		&::before {
			position: absolute;
			content: '';
			width: 24px;
			height: 24px;
			margin: auto;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background-image: url("/static/move.svg");
		}

		&-dragging {
			opacity: 0;
		}
	}
}

.editor-dropcontainer {
	height: 400px;
	width: 400px;

	&-active {
		color: grey;
	}
}

.editor-transit {}

.editor-movecontainer {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}