$bright-text-color: rgba(#ffffff, .8);
$gallery-itm-bg-color: #121212;
$gallery-bg-color: #010f27;
$gallery-height: 66%;
$port-height-width: 1em;
$port-color:rgba(180, 180, 180, .3);
$port-selected-color: rgba(87, 161, 245, .9);

.hero-gallery {
	color: $bright-text-color;
	height: $gallery-height;
	display: flex;
	position: relative;

	.bg-container {
		flex: 1;
		background-color: $gallery-bg-color;
	}

	.hero-front-outer:after {
		content: "";
		display: block;
		padding-bottom: 100%;
	}

	.hero-front-outer {
		position: absolute;
		//max-width: 760px;
		//display: flex;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		//margin-left: auto;
		//margin-right: auto;


	}

	.hero-text {
		/*left: 0;
		right: 0;
		position: absolute;
		bottom: 1em;*/
		text-align: center;
		margin-top: auto;
		margin-bottom: auto;
		width: 100%;

		h4 {
			margin: 0;
		}
	}

}

.hero-front-inner {
	//margin: $gallery-height*0.16;

	flex-direction: column;
	//display: flex;
	//flex: 1;
	height: 100%;
	//border: solid 2px rgba(180, 180, 180, .3);
	border-radius: 1em;
	overflow: hidden;
	background-image: linear-gradient(to top, $gallery-itm-bg-color, rgba($gallery-itm-bg-color, 0.2));
	display: flex;

	.fg-container {
		flex: 4;
		display: flex;
	}

	.btns {
		display: flex;
		flex-direction: row;
		padding-bottom: 1em;

		.prev {
			flex: 1;
			display: flex;
			min-height: 1em;
			text-overflow: ellipsis;

			.start {
				height: $port-height-width;
				width: $port-height-width;
				background-color: $port-color;

				svg {
					margin-left: -100%;
				}

				.chevron-left {
					fill: $bright-text-color;
					transition: all 0.5s ease-out;
				}
			}

			.mid {
				flex: 1;
				white-space: nowrap;
			}

			.mid:before {
				content: "\00a0 ";
			}

			.end {}
		}

		.nxt {

			flex: 1;
			display: flex;
			min-height: 1em;
			text-overflow: ellipsis;

			.start {}

			.mid {
				text-align: end;
				flex: 1;
				white-space: nowrap
			}

			.mid:after {
				content: "\00a0 ";
			}

			.end {
				background-color: $port-color;
				width: $port-height-width;
				height: $port-height-width;

				.chevron-right {
					fill: $bright-text-color;
					transition: all 0.5s ease-out;
				}
			}
		}
	}
}

.hero-btn {
	transition: all 0.5s ease-out;
	user-select: none;
	touch-action: manipulation;
	cursor: pointer;
	background-color: #ffffff00;
}

.hero-btn:hover {
	user-select: none;
	touch-action: manipulation;
	cursor: pointer;
	color: white;

	.end {
		.chevron-right {
			transform: translate(2em);
			fill: $port-selected-color !important;
		}

		background-color: $port-selected-color !important;
	}

	.start {
		.chevron-left {
			transform: translate(-2em);
			fill: $port-selected-color !important;
		}

		background-color: $port-selected-color !important;
	}
}

//aspect ratio boxes explanation: https://css-tricks.com/aspect-ratio-boxes/

[style*="--aspect-ratio"]> :first-child {
	width: 100%;
}

[style*="--aspect-ratio"]>img {
	height: auto;
}

@supports (--custom:property) {
	[style*="--aspect-ratio"] {
		position: relative;
	}

	[style*="--aspect-ratio"]::before {
		content: "";
		display: block;
		padding-bottom: calc(100% / (var(--aspect-ratio)));
	}

	[style*="--aspect-ratio"]> :first-child {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
	}
}

.hero-h-square {
	height: 100%;
	width: min-content;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	max-width: 100%;

	>svg {
		height: 100%;
		width: auto;
	}

	.hero-h-inner {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;

		.titles {
			flex: 1;
			display: flex;
		}
	}
}

.hero-v-square {
	width: 100%;
	height: min-content;
	position: relative;
	margin-top: auto;
	margin-bottom: auto;

	>svg {
		height: auto;
		width: 100%;
	}

	.hero-v-inner {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

.overlay-gradient {
	position: absolute;
	content: "";
	top: 50%;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	background-image: -webkit-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.6));
	background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.6));
	pointer-events: none;
}