.minitoolbox-minibutton {
	width: $minibtnSize;
	height: $minibtnSize;
	border: solid 0px;
	border-radius: 50%;
	background-color: $miniBtnBackgroundColor;
	transition: all 250ms;
	display: block;
	opacity: 1;

	&-display {
		width: $minibtnSize;
		height: $minibtnSize;
    display: inline-flex;
		img {
			pointer-events: none;
			width: $minibtnIconSize;
			height: $minibtnIconSize;
			margin: auto;
		}
	}

	&:hover {
		background-color: #57a1f5c8;
	}
}