@import "colors";
@import "sizes";
@import "minibutton";
@import "watchmenu";
@import "phonemenu";

.minitoolbox-dndhandle {
	top: 10px;
	right: 53px;
	position: absolute;
}

.minitoolbox-root {
	position: absolute;
	height: 0;
	width: 0;
}

.minitoolbox-enclosing {
	position: relative;
	height: 300px;
	width: 420px;
}

.minitoolbox-phonecontainer {
	position: absolute;
	opacity: 0.5;
	top: 0px;
	right: -33px;

	transition: all 250ms;

	&-mini {
		height: 75px;
		width: $miniEditorSize;
		top: 11px;
		right: 111px;
	}

	&-max {
		width: 420px;
		height: 746px;

		&.minitoolbox-phonecontainer-inactive {
			visibility: hidden;
			height: 75px;
			width: $miniEditorSize;
			top: 11px;
			right: 111px;

			>* {
				height: 75px;
				width: $miniEditorSize;
				background-size: $miniEditorSize 75px;
				padding: 0;

				.minitoolbox-minibutton {
					opacity: 0;
					visibility: hidden;
				}

				.minitoolbox-phonemenu-preview {
					visibility: hidden;
				}
			}
		}
	}

	&-inactive {
		opacity: 0;
	}

	&-active {
		opacity: 1;

		&.mini-closed {
			opacity: 1;
		}
	}
}

.minitoolbox-watchcontainer {
	position: absolute;
	opacity: 0.5;
	top: -15px;
	right: 21px;

	transition: all 250ms;

	&-mini {
		height: 63px;
		width: 68px;
		top: 18px;
		right: 103px;
	}

	&-max {
		width: 371px;
		height: 349px;

		&.minitoolbox-watchcontainer-inactive {
			visibility: hidden;
			height: 63px;
			width: 68px;
			top: 18px;
			right: 103px;

			>* {
				height: 63px;
				width: 68px;
				background-size: 68px 63px;
				padding: 0;

				.minitoolbox-minibutton {
					opacity: 0;
					visibility: hidden;
				}

				.minitoolbox-phonemenu-preview {
					visibility: hidden;
				}
			}
		}
	}

	&-inactive {
		opacity: 0;
	}

	&-active {
		opacity: 1;

		&.mini-closed {
			opacity: 1;
		}
	}
}

.mini-open {
	opacity: 1;
	transform: translate(-75px, 0px);
}

.mini-closed {
	opacity: 0;
	transform: translate(0px, 0px);
}